<!-- home.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Noc</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    {% include 'navigation.html' %}
    <h1 style="text-align: center">:מערכות בשימוש שכיח</h1>
    <div style="text-align: center">
      <a href="https://google.com"
        ><img
          src="{{ url_for('static', filename='test.jpg') }}"
          alt="test.com"
          width="300"
          height="300"
      /></a>
      <a href="https://google.com"
        ><img
          src="{{ url_for('static', filename='test.jpg') }}"
          alt="test.com"
          width="300"
          height="300"
      /></a>
      <a href="https://google.com"
        ><img
          src="{{ url_for('static', filename='test.jpg') }}"
          alt="test.com"
          width="300"
          height="300"
      /></a>
      <a href="https://google.com"
        ><img
          src="{{ url_for('static', filename='test.jpg') }}"
          alt="test.com"
          width="300"
          height="300"
      /></a>
      <a href="https://google.com"
        ><img
          src="{{ url_for('static', filename='test.jpg') }}"
          alt="test.com"
          width="300"
          height="300"
      /></a>
      <a href="https://google.com"
        ><img
          src="{{ url_for('static', filename='test.jpg') }}"
          alt="test.com"
          width="300"
          height="300"
      /></a>
      <a href="https://google.com"
        ><img
          src="{{ url_for('static', filename='test.jpg') }}"
          alt="test.com"
          width="300"
          height="300"
      /></a>
      <a href="https://google.com"
        ><img
          src="{{ url_for('static', filename='test.jpg') }}"
          alt="test.com"
          width="300"
          height="300"
      /></a>
      <a href="https://google.com"
        ><img
          src="{{ url_for('static', filename='test.jpg') }}"
          alt="test.com"
          width="300"
          height="300"
      /></a>
      <a href="https://google.com"
        ><img
          src="{{ url_for('static', filename='test.jpg') }}"
          alt="test.com"
          width="300"
          height="300"
      /></a>
      <a href="https://google.com"
        ><img
          src="{{ url_for('static', filename='test.jpg') }}"
          alt="test.com"
          width="300"
          height="300"
      /></a>
      <a href="https://google.com"
        ><img
          src="{{ url_for('static', filename='test.jpg') }}"
          alt="test.com"
          width="300"
          height="300"
      /></a>
    </div>
  </body>
</html>
